@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
  padding: 50px;
  font: 'Nunito', sans-serif;
}

a {
  color: #00B7FF;
}

.h-screen{
  height: 85vh !important;
}

.scoreTable thead th:first-of-type{
  border-top-left-radius: 8px; 
}

.scoreTable thead th:last-of-type{
  border-top-right-radius: 8px; 
}